* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: darkgray;
    font-family: "Noto Sans", sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
}
a {
    text-decoration: none;
}



#user img:hover, .more-options img:hover, .banner-section:hover {
    cursor: pointer;
}
.navbar {
    display: flex;
}
.navbar li {
    list-style: none;
    margin: auto 30px;
    font-size: 17px;
}
.active {
    color: rgb(59, 59, 59);
    font-weight: 450;
}


#user {
    display: flex;
    position: relative;
    left: 13%;
    order: -1;
    font-size: 17px;
    align-items: center;
}
#user img {
    position: relative;
    right: 30px;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

#user-name {
    color: rgb(95, 95, 95);
    font-family: "Roboto", sans-serif;
}
#perfil-button {
    border: 1px solid rgb(163, 163, 163);
    position: absolute;
    background: whitesmoke;
    width: 17vw;
    height: 22vh;
    left: 10vw;
    top: 13.5vh;
    z-index: 1;
    border-radius: 10px;
    padding: 30px;
    transition: all .3s ease;

    & a {
        display: inline-block;
        margin-bottom: 15px;


        & p {
            display: inline-block;
            text-decoration: underline;
        }

        & img {
            display: inline-block;
        }
    }
    & div{
        position: absolute;
        width: 80%;
        bottom: 5px;
        display: flex;
        align-items: flex-end;
        border-top: 2px solid rgb(197, 197, 197);
        height: 50px;

        & a{
            margin-top: 70px;
        }   
    }
    
}
.more-options img{
    width: 35px;
    position: relative;
    right: 7vw;
}
#more-options-tab {
    position: absolute;
    right: 0;
    height: 100%;
    width: 16vw;
    background: whitesmoke;
    border: 1px solid rgb(192, 192, 192);
    z-index: 7;
    padding: 40px;
    padding-top: 90px;

    & .window-button {
        margin: 0 auto 40px auto;

        display: inline-block;

        & p {
            text-decoration: underline;
            display: inline-block;
        }
        & img {
            display: inline-block;
        }
    }
}
#redes-sociais {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
    & div img {
        width: 30px;
        margin-right: 13px;
        margin-top: -15px;
    }
    & p {
        margin-bottom: 20px;
    }
}
#xbutton {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.another-window-img {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}
#xbutton:hover {
    cursor: pointer;
}


.shows-section, .movies-section, .music-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.loopingScroll::before{
    position: absolute;
    content: '';
    left: 0;
    top: 26.5%;
    z-index: 5;
    height: 55%;
    width: 100px;
    background-image: linear-gradient(90deg, rgb(0, 0, 0), transparent);
}
.loopingScroll::after{
    position: absolute;
    content: '';
    right: 0;
    top: 26.5%;
    z-index: 5;
    height: 55%;
    width: 100px;
    background-image: linear-gradient(-90deg, rgb(0, 0, 0), transparent);
}
.loopingScroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.banner-section {
    width: 350px;
    height: 500px;
    margin: 0 15px;
    border-radius: 5px;   
    box-shadow: 10px 5px 5px rgb(95, 95, 95);
}
img, a {
    transition: transform .3s ease-in-out;
}
img:hover {
    transform: scale(1.1);
}
.div-seta-esquerda {
    position: absolute;
    left: 15px;   
    z-index: 6;
}
.seta-esquerda {
    width: 60px;
    height: 60px;
    filter: invert(85%);
    opacity: 60%;
    z-index: 99;
}
.div-seta-direita {
    position: absolute;
    right: 15px;
    z-index: 6;
}
.seta-direita {
    width: 60px;
    height: 60px;
    filter: invert(85%);
    opacity: 60%;
    z-index: 99;
}

.shows-section {
    display: none;
}
.music-section {
    display: none;
}
.movies-section {
    display: none;
}
.section-active {
    display: flex;
}
.hidden {
    display: none;
}
